
* { box-sizing: border-box;
}

body{background-color:#EAC6C4;
  font-family: Arual, Candara, sans-serif;
}

header{font-family: Arual, sans-serif,;
  font-weight: bolder;
  color: #b52025; 
  font-size: 3.5em;
  height:180px;
  padding-top: 8px;
  padding-left: 10px; 
  padding-bottom: 20px;
  text-shadow: 3px 3px 3px #999;
  background-image: url(thickerlatest.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 200px 130px;
}

nav {word-spacing: 1em;
  font-weight:bolder;
  font-size: 20px;
  text-align:center;
  background-color: #b52025;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav a{ text-decoration: none;
  padding: 10px;
  font-weight: bold;
}
nav a:visited { color: #000000;
}
nav a:hover { color: #ffffff; 
}
nav a{ color: #ffffff;
}
nav a{ color: #ffffff;
}
nav a{ color: #ffffff;
}

h2{font:#000000;
  font-family: Arual,sans-serif;
}
h4{font-family: Candara, sans-serif;
  font-weight: bold;
}

p{font-family: Calibri, sans-serif;
}

.container{float: left;
    margin-left: 60px;
    margin-top: 60px;
    width:300px;
    font-family: Calibri, sans-serif;
}
.row{float: right;
    margin-top: 40px;
    margin-bottom: 60px;
    width:600px;
}

#contact-form input[type='text'] {
  background-color: #ffffff;
  box-sizing:border-box;
  font: 16px, sans-serif;
  line-height: 24px;
  padding: 3.5px 3.5px;
  border: 1px solid #a1a097;
  width: 100%;
  outline: none;
  height: 31px;
  margin: 6px 0 12px 0;
}

#contact-form textarea {
  display: block;
  box-sizing: border-box;
  font: 12px, sans-serif;
  line-height: 24px;
  padding: 20px 30px 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  width: 100%;
  border-radius: 0;
  outline: none;
  overflow: auto;
  margin: 5px 3px 4px 2px;
}
#contact-form label {
  box-sizing: border-box;
  position: relative;
  display: block;
  letter-spacing: normal;
  margin: 0 0 5px;
  width: 100%;
  font: 400 18px, sans-serif;
}

.button {
  margin-left: 235px;
  padding: 2px 5px;
  background-color:#b52025;
}

.message {
  max-width: 95%;
  width: 100%;
}

#contact-form .invalid .error-message{
  height: 14px;
  line-height: 14px;
}

.address{
  font-family:Candara, sans-serif;
}

footer{font-size: 14px;
  font-family:Arual, sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #b52025;
  margin-left: auto;
  clear:both;
  position:relative;
  padding-top:5px;
}

